Repository cdktf/cdktf-integration-serverless-example, pull requests merged in 2023-10, with the labels that each got.

#27 chore: make sure auto-approve and automerge work for Dependabot
  .github/dependabot.yml
  .github/workflows/auto-approve.yml
  .github/workflows/automerge.yml
Labels: auto-approve, automerge

#30 chore: fix broken workflows
  .github/workflows/auto-approve.yml
  .github/workflows/automerge.yml
  .github/workflows/upgrade-node.yml
  package.json
Labels: auto-approve, automerge

#31 chore!: increase minimum supported Node.js version to 18
  package.json
  yarn.lock
Labels: automated, automerge, security

#32 chore: more workflow fixes and cleanup
  .github/workflows/automerge.yml
  .github/workflows/pr-copyright.yml
  .github/workflows/upgrade-node.yml
  scripts/update-cdktf.sh
Labels: auto-approve
